<button {{action "churn"}}> churn</button>

<table>
  <tbody>
  {{#each}}
    <tr>
      <td>{{id}}</td>
      <td>{{first}}</td>
      <td>{{last}}</td>
      <td>{{description}}</td>
      <td>{{born}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

